/CSR
/Django_FSE
/fetch.html
/GraphQL_Demo2
/grpc
/SSE
/Websockets-Documentapp
/REST/Demo1/node_modules
/REST/Demo2/node_modules
/REST/Demo3/node_modules
/REST/Demo4
/REST/django_first_project
/REST/grpc
/REST/backend